<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="smart_sweepers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <smart_sweepers.Properties.Settings>
            <setting name="SweeperScale" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Outputs" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxTurnRate" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="MutationRate" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="CrossoverRate" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="MinScale" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Ticks" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Elite" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Mines" serializeAs="String">
                <value>40</value>
            </setting>
        </smart_sweepers.Properties.Settings>
    </userSettings>
</configuration>